<div class="container">

<%= form_tag(tables_path, :method => "get", id: "table-search-form") do %>
    <!-- <%= text_field_tag :guests, params[:guests], placeholder: "Number of Guests" %> -->
    <%= text_field_tag :day, params[:day], class:"datepicker", placeholder: "Select Day" %>
    <!-- <%= text_field_tag :time, params[:time], class:"timepicker", placeholder: "Select Time" %> -->
    <%= submit_tag "Search", :name => nil %>
<% end %>

<!-- <%= form_for @user do |f| %>
<%= f.fields_for :reservations do |reservation_form| %>
<div class="row reservation-row">
  <div class="col-md-2 form-group">
    <%= reservation_form.label :seating_capacity, "Number in Party"%> <br />
    <%= reservation_form.collection_select :table_id, Table.all, :id, :seating_capacity, {:prompt => "Select Guests"}, class:"form-control" %> <br />

  </div>
  <div class="col-md-2 form-group">
  <%= reservation_form.label :date %><br />
  <%= reservation_form.text_field :date, class:"datepicker form-control" %><br />
  </div>
  <div class="col-md-2 form-group">
  <%= reservation_form.label :starts_at %><br />
  <%= reservation_form.text_field :starts_at, class:"timepicker form-control" %><br />
  </div>
</div>

<%= reservation_form.label :ends_at %><br />
<%= reservation_form.hidden_field :ends_at, :value => @reservation %><br />


<% end %>
<div class="row user-row">
  <div class="col-md-3 form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class:"form-control" %><br />
  </div>
  <div class="col-md-3 form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class:"form-control" %><br />
  </div>
</div>
<div class="row user-row">
  <div class="col-md-3 form-group">
    <%= f.label :email %><br />
    <%= f.text_field :email, class:"form-control" %><br />

  </div>
  <div class="col-md-3 form-group">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, class:"form-control" %><br />
  </div>
</div>



  <p>
    <%= f.submit "Book Reservation", class:'btn btn-md btn-success' %>
  </p>
<% end %> -->

</div>
