<div class="container">
  <h3>Reservations for <%= Date.parse(@reservation_date).strftime("%A %B %e, %Y") %> </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Guests</th>
        <th>Table</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= "#{reservation.user.first_name} #{reservation.user.last_name}" %></td>
          <td><%= reservation.user.phone %></td>
          <td><%= reservation.user.email %></td>
          <td><%= reservation.diners %></td>
          <td><%= reservation.table_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>