<div class="container">
<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>

<div class="calendar-buttons">
  <%= link_to "Previous", start_date: date_range.first - 1.day %>
  <%= I18n.t('date.month_names')[start_date.month] %> <%= start_date.year %>
  <%= link_to "Next", start_date: date_range.last + 1.day %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <% date_range.slice(0, 7).each do |day| %>
      <th><%= I18n.t('date.abbr_day_names')[day.wday] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% date_range.each_slice(7) do |week| %>
      <tr>
        <% week.each do |day| %>
          <td class="reservation-calendar-table-data">
            <%= day.strftime('%e') %><br>
            <% table_ids = [] %>
            <% @reservations.select{ |m| m.date == day }.each do |reservation| %>
                <% table_ids << reservation.diners %>
            <% end %>
              <p class="center"><%= table_ids.inject(0) {|sum, i|  sum + i } %></p>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>