<h3>There are <%= @open_tables.count %> tables <strong>AVAILABLE</strong> that match that day, time, and number of guests.</h3>
<h3>There are <%= @reserved_tables.count %> tables <strong>BOOKED</strong> that match that day, time, and number of guests.</h3>


<%= form_tag(tables_path, :method => "post", id: "table-search-form") do %>
    <%= hidden_field_tag 'seating_capacity', :value => params[:guests]%>
    <%= hidden_field_tag 'date', :value => @day %>
    <%= hidden_field_tag 'starts_at', :value => @time %>
    <%= submit_tag "Search", :name => nil %>
<% end %>