<div class="container table-search">
  <%= form_tag(new_user_path, :method => "get", id: "table-search-form", class:"form-inline") do %>
    <div class="form-group">
      <%= select_tag :guests, options_for_select(["1", "2", "3", "4", "5", "6"], params[:guests]), class:"form-control", placeholder: "Number of Guests" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :day, params[:day], class:"datepicker form-control", placeholder: "Select Day" %>
    </div>
    <div class="form-group">
      <%= select_tag :time, options_for_select([["5:00 pm", "17:00:00"], ["5:15 pm", "17:15:00"], ["5:30 pm", "17:30:00"], ["5:45 pm", "17:45:00"], ["6:00 pm", "18:00:00"], ["6:15 pm", "18:15:00"], ["6:30 pm", "18:30:00"], ["6:45 pm", "18:45:00"], ["7:00 pm", "19:00:00"], ["7:15 pm", "19:15:00"], ["7:30 pm", "19:30:00"], ["7:45 pm", "19:45:00"], ["8:00 pm", "20:00:00"]], params[:time]), class:"form-control", placeholder: "Select Time"  %>
    </div>
      <%= submit_tag "Find Table", :name => nil, class:"btn btn-md btn-success" %>
  <% end %>
</div>

